.end {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background: rgba(134 175 185 / 100%); /* Opacité à 100% */
  color: white;
}

.end p {
  font-size: 1.2rem;
}

@media (max-width: 760px) {
  .end p {
    font-size: 0.7rem;
  }
}
