.end {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background: rgba(134 175 185 / 100%); /* Opacité à 100% */
  color: white;
}

.end p {
  font-size: 1.2rem;
}

.end a {
  font-size: 1.2rem;
  margin-left: 5px;
}

@media (max-width: 760px) {
  .end {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-top: 10px;
  }

  .end p {
    font-size: 0.9rem;
  }

  .end a {
    font-size: 0.9rem;
  }

  .end span {
    display: none;
  }
}
